.dropdown {
    position: absolute;
    top: 4.5rem;
    right: 4rem;
    width: 120px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid gray;
}

.dropdown::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 25px;
    height: 25p;
}