.loginPage {
    display: flex;
    flex-direction: column;
}

.logoContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.registerContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
}