* { 
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.site-title{
    font-size: 3rem;
}

.about-link {
    font-size: x-large;
}

.nav ul {
    padding: 0;
    padding-left: 50rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .nav ul {
        margin-left: 20%;
    }
}
