* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.site-title{
    font-size: 3rem;
}

.about-link {
    font-size: x-large;
}

.login-register-button {
    display: flex;
    background-color: #e9e9e9;
    color: rgb(94, 55, 124);
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.nav ul {
    padding: 0;
    padding-left: 50rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .nav ul {
        margin-left: 20%;
    }
}

.nav a {
    color: inherit;
    text-decoration: none;
}