.homePage {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.logoContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.hide {
    visibility: hidden;
}

.homeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 5rem;
}