.tableContainer, .tableContainerExt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    padding-bottom: 0px;
    transition: width 2s;
    /* border: solid black; */
    margin-top: 12.5rem;
    padding-left: 2rem;
}

.tableContainer {
    width: 50vw;
}

.tableContainerExt {
    width: 100vw;
}

.leaderboard {
    background-color: #b06c27;
    color: white;
    /* border: solid #000000; */
    border-spacing: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 95%;
}

.row {
    background-color: #3c3b39;
    /* border: solid #000000; */
    border-collapse: separate;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-width: 0.4rem;
}

td {
    text-align: center;
    border-radius: 0.5rem;
}