* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.friendList {
    /* display: flex; */
    border: 2px solid rgb(225, 225, 225);
    background-color: #2a2a2a;
    color: white;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    overflow-y: auto;
    max-height: 50%;
    min-height: 50%;
    max-width: 50%;
    min-width: 50%;
    font-family: 'Arial', sans-serif;
}

.friendTable {
    width: 100%;
    border-collapse: collapse;
}

.titles {
    background-color: #444;
}

th,
td {
    text-align: center;
    padding: 12px;
    padding-right: 50px;
    padding-left: 50px;
}

th {
    border-bottom: 2px solid #ddd;
    color: #fff;
}

tr {
    background-color: #333;
}

td {
    border-bottom: 1px solid #444;
}

#removeButton {
    background-color: #b06c27;
    font-size: 14px;
    color: white;
    border: none;
    margin-right: 0px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#removeButton:hover {
    background-color: #de9348;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}