.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: auto;
    max-width: 35%;
    right: 0;
    /* border: solid #fff; */
    margin-right: 5rem;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
    display: none;
}

.inputBox {
    height: auto;
    width: 100%;
    /* margin-top: 3.6rem; */
    /* margin-right: 100%; */
    padding: 2.5%;
    background-color: #3c3b39;
    border: solid #fff;
    border-radius: 1rem;
}

.header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.loginTxt {
    position: relative;
    align-items: center;
    margin: auto auto;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.signUpTxt {
    position: relative;
    align-items: center;
    margin: auto auto;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.verifyTxt {
    position: relative;
    margin-left: 9.75rem;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.sendEmailTxt {
    position: relative;
    margin-left: 5rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.passwordTxt {
    position: relative;
    margin-left: 0.4rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.underline, .underlineSU, .underlineVfy, .underlineSE, .underlinePswd {
    position: relative;
    margin-top: .3rem;
    width: 5rem;
    height: 0.5rem;
    background: #fff;
    border-radius: 1rem;
    transition: width 1s, margin-left 1s;
}

.underlineSU {
    width: 12rem;
}

.underlineVfy {
    width: 5.5rem;
    margin-left: 11rem;
}

.underlineSE {
    width: 13rem;
    margin-left: 7rem;
}

.underlinePswd {
    width: 16rem;
    margin-left: 5.75rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.input,
.names {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 4rem;
    background: #3c3b39;
    padding: 1rem;
}

.input input {
    margin-left: 1rem;
    height: 3rem;
    width: 100%;
    outline: none;
    color: #181817;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

.names input {
    margin-left: 1rem;
    height: 3rem;
    width: 100%;
    outline: none;
    color: #181817;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

input::placeholder {
    color: rgba(24, 24, 23, 0.7);
}

.inputErr {
    display: flex;
    justify-content: center;
    color: #cb1e1e;
}

.faIcons {
    color: #181817;
    font-size: 1.5rem;
}

.faTimes {
    color: rgba(176, 108, 39, 0.5);
    font-size: 1.5rem;
    border-radius: 40%;
    border: solid 0.1rem rgba(176, 108, 39, 0.5);
}

.faCheck {
    color: rgba(176, 108, 39, 1);
    font-size: 1.5rem;
    border-radius: 40%;
    border: solid 0.1rem rgba(176, 108, 39, 1);
}

.verifyMsg {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
    color: #b06c27;
}

.code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.code input {
    height: 3rem;
    width: 3rem;
    border-radius: 15%;
    text-align: center;
    font-size: 1.5rem;
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
}

.username input {
    margin-left: 1rem;
    height: 3rem;
    width: full;
    outline: none;
    color: #181817;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

.submit-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3.5rem;
    color: #fff;
    background: #b06c27;
    border-radius: 3rem;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.white {
    color: #3c3b39;
    background-color: #fff;
}

.checks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 0.2rem;
}

.checks p {
    display: flex;
    align-items: center;
    margin-left: 5rem;
    font-weight: 700;
    font-size: large;
    gap: 0.5rem;
}

.orange100 {
    color: rgba(176, 108, 39, 1);
}

.orange50 {
    color: rgba(176, 108, 39, 0.5);
}

.forgotPassword {
    display: flex;
    justify-content: center;
}

.forgotButton {
    font-size: medium;
    color: #b06c27;
    background-color: #3c3b39;
}

.forgotButton:hover {
    font-size: medium;
    text-decoration-line: underline;
    background-color: #3c3b39;
}