.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    right: 0;
    /* border: solid #fff; */
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
    display: none;
}

.login {
    height: auto;
    width: 120%;
    margin-top: 30%;
    margin-right: 100%;
    padding: 2.5%;
    background-color: #3c3b39;
    border: solid #fff;
    border-radius: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-right: 100%;
    /* border: solid #fff; */
}

.text {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    margin-top: 0.5rem;
    width: 4rem;
    height: 0.5rem;
    background: #fff;
    border-radius: 1rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1.5rem;
    /* border: solid #000000; */
}

.input,
.names {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 4rem;
    background: #3c3b39;
    padding: 1rem;
}

.input input {
    margin-left: 1rem;
    height: 3rem;
    width: 24rem;
    outline: none;
    color: #181817;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

.names input {
    margin-left: 1rem;
    height: 3rem;
    width: 9.5rem;
    outline: none;
    color: #181817;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

input::placeholder {
    color: rgba(24, 24, 23, 0.7);
}

.inputErr {
    display: flex;
    justify-content: center;
    color: #cb1e1e;
}

.faIcons {
    color: #181817;
    font-size: 1.5rem;
}

.faTimes {
    color: rgba(176, 108, 39, 0.5);
    font-size: 1.5rem;
}

.faCheck {
    color: rgba(176, 108, 39, 1);
    font-size: 1.5rem;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    color: #fff;
    background: #b06c27;
    border-radius: 3rem;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.white {
    color: #3c3b39;
    background-color: #fff;
}

.checks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 0.2rem;
}

.checks p {
    display: flex;
    align-items: center;
    margin-left: 5rem;
    font-weight: 700;
    font-size: large;
    gap: 0.5rem;
}

.orange100 {
    color: rgba(176, 108, 39, 1);
}

.orange50 {
    color: rgba(176, 108, 39, 0.5);
}