* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.loginRegister, .hideRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    padding-bottom: 150px;
    right: 0;  
    height: 100%;
}

.loginDiv, .hidden {
    text-align: center;
    padding: 20px;
    border: 1px solid #2a2a2a;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    background-color: #2a2a2a;
    transition: opacity 0.5s;
}

.loginDiv, .loginRegister {
    opacity: 1;
}

.hidden, .hideRegister {
    opacity: 0;
    display: none;
}

.loginDiv form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginDiv input 
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.inputText
{
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    padding: 10px;
}

#registerBlock
{
    padding-top: 2rem;
}

.buttons {
    background-color: #fa9e17;
    color: #fff;
    font-size: medium;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15), 0 17px 50px 0 rgba(0,0,0,0.15);
}

#inner-title, #inner-titleR {
    font-size: 24px;
    color: #f3f3f3;
}

#loginResult, #registerResult {
    color: red;
    margin-top: 10px;
}